@{
    Layout = null;
}

<div class="col-md-4">
      <a href="../../Beneficiary/FrontEnd/FAQ" title="" data-ajax="false">FAQ</a> | <a href="../../Beneficiary/FrontEnd/Plan" title="" data-ajax="false">Plan du site</a> | <a href="../../Beneficiary/FrontEnd/Qui_sommes_nous" title="" data-ajax="false">Qui sommes nous</a> | <a href="../../Beneficiary/FrontEnd/Contact" title="" data-ajax="false">Contact</a>
   </div>
