@{
    Layout = null;
}

<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="../../Affiliate/BackEnd/Gestion_client_Gestionnaire" title="">Clients</a> |</li>
                        <li><a href="../../Affiliate/BackEnd/Infos_salon_Gestionnaire" title="">Salon</a> |</li>
                        <li><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title="">Prestations</a> |</li>
                        <li><a href="../../Affiliate/BackEnd/Gerer_galerie_Gestionnaire" title="">Galerie</a></li>
                    </ul>
                </div>
                <div class="col-md-4  text-center">
                    <a href="http://www.BSOengineering.com/" title="BSO engineering" target="_blank" class="position">Powered by <img src="../../Areas/Affiliate/Images/logoseb.png" alt="BSO engineering"  width="50"/></a>
                </div>
                <div class="col-md-4 end">
                    <p>Copyright&copy;2015 Salons de coiffure
                </div>
            </div>
        </div>
    </div>
