@{
    Layout = null;
}

    <div id="lien" class="col-md-4">
       <a href="../../Home/FAQ" title="" data-ajax="false">FAQ</a> | <a href="../../Home/Plan" title="" data-ajax="false">Plan du site</a> | <a href="../../Home/Qui_sommes_nous" title="" data-ajax="false">Qui sommes nous</a> | <a href="../../Home/Contact" title="" data-ajax="false">Contact</a>
    </div>

                

                
