@{
    Layout = null;
}

 <!--nav-->
                        <!--Menu Mobile-->
	                    <div class="flypanels-container preload">
                            <div class="offcanvas flypanels-left">
			                    <div class="panelcontent" data-panel="treemenu">
				                    <nav class="flypanels-treemenu" role="navigation">
					                    <ul data-ajax="false">
						                    <li class="haschildren"><div><a href="#" class="link">Coiffure</a> <a href="#" class="expand"><i class="fa icon"></i></a></div>
							                    <ul>
								                    <li><div><a href="#" class="link">Brushing (02)</a></div></li>
								                    <li><div><a href="#" class="link">Coupe (12)</a></div></li>
								                    <li><div><a href="#" class="link">Soin des mains + pose vernis (10)</a></div></li>
								                    <li><div><a href="#" class="link">Coloration ou mèche (22)</a></div></li>
								                    <li class="tt"><div><a href="#" title="" class="trouve link en">Trouvez les lieux les plus proches</a></div></li>
							                    </ul>
						                    </li>
						                    <li><div><a href="#" class="link">Maquillage</a></div></li>
						                    <li class="haschildren"><div class="link"><a href="#" class="link">Soins & Beauté</a> <a href="#" class="expand"><i class="fa icon"></i></a></div>
							                    <ul>
								                    <li><div><a href="#" class="link">Spa (02)</a></div></li>
								                    <li><div><a href="#" class="link">Yoga Place (12)</a></div></li>
								                    <li><div><a href="#" class="link">Massage (10)</a></div></li>
								                    <li><div><a href="#" class="link">Esthéticienne (22)</a></div></li>
								                    <li class="tt"><div><a href="#" title="" class="trouve link en">Trouvez les lieux les plus proches</a></div></li>
							                    </ul>
						                    </li>
						
					                    </ul>
				                    </nav>
			                    </div>
                             </div>
         
                                <div class="flypanels-main menuSalon">
                                    <div class="flypanels-topbar">
                                        <a class="flypanels-button-left icon-menu" data-panel="treemenu" href="#"><i class="fa fa-bars"></i></a>
                                </div>
    	                    </div>
                        </div>
                        <!--Menu Mobile-->
                        <nav class="ma5-menu-mobile">
                                <ul class="ma5-ul" data-ajax="false">

                                    <li class="ma5-li-1"> <a class="ma5-path-to-active" href="#" title="Coiffure">Coiffure</a><span class="ma5-btn-enter"><i class="fa fa-chevron-right"></i></span>
                                        <ul class="ma5-ul-1">
                                            <li class="ma5-li-1-1">
                                                <div class="ma5-leave-bar"><span class="ma5-btn-leave"><i class="fa fa-chevron-left"></i></span>Coiffure</div>
                                            </li>

                                            <li><a href="#" title="Brushing">Brushing<span>(02)</span></a></li>
                                            <li><a href="#" class="activepoint" title="Coupe">Coupe<span>(12)</span><p class="arrow"></p></a></li>
                                            <li><a href="#" title="Soins">Soin des mains + pose vernis<span>(10)</span></a></li>
                                            <li><a href="#" title="Coloration">Coloration ou mèche<span>(22)</span></a></li>
                                            <li class="en"><a href="#" title="" class="trouve">Trouvez les lieux les plus proches</a></li>
                                        </ul>
                                    </li>

                                    <li class="ma5-li-3"> <a href="#" title="contact">Maquillage</a></li>
                                    <li class="ma5-li-2"> <a href="#" title="Soins">Soins & Beauté</a><span class="ma5-btn-enter"><i class="fa fa-chevron-right"></i></span>
                                        <ul class="ma5-ul-2">
                                            <li class="ma5-li-2-1">
                                                <div class="ma5-leave-bar"><span class="ma5-btn-leave"><i class="fa fa-chevron-left"></i></span>Soins & Beauté</div>
                                            </li>
                                            <li><a href="#" title="Spa">Spa<span>(02)</span></a></li>
                                            <li><a href="#" title="Yoga">Yoga Place<span>(12)</span></a></li>
                                            <li><a href="#" title="Massage">Massage<span>(10)</span></a></li>
                                            <li><a href="#" class="activepoint" title="Esthéticienne">Esthéticienne<span>(22)</span><p class="arrow"></p></a></li>
                                            <li class="en"><a href="#" title="" class="trouve">Trouvez les lieux les plus proches</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        <!--nav-->