@{
    Layout = null;
}


        <!--Sidebar item function-->
        <!--Sidebar sub-item function-->
        <div data-position="right" data-step="1" data-intro="&lt;strong&gt;Fixed Sidebar&lt;/strong&gt; &lt;br/&gt; It adjust to your needs." class="cl-sidebar">
            <div class="cl-toggle"><i class="fa fa-bars"></i></div>
            <div class="cl-navblock">
                <div class="search-field collapse-button">
                    <a id="sidebar-collapse" class="" title=""><img src="../../Areas/Affiliate/Images/icon-menu.png" alt="" /> </a>

                </div>
                <div class="menu-space">
                    <div class="content">
                        <ul class="cl-vnavigation">
                            <li>&nbsp;&nbsp;<img src="../../Areas/Affiliate/Images/avatar.png" alt="" width="60" />
                                <div class="user-info">
                                    <div class="side-user">
                                        <div class="info">M. Lorem Ipsum
                                            <br /><a href="../../Affiliate/BackEnd/Boite_Reception_Gestionnaire" class="notif" title=""><i class="fa fa-envelope"></i></a>
                                            <a href="../../Affiliate/BackEnd/Profil_Gestionnaire" class="notif" title=""><i class="fa fa-cogs"></i></a></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="../../Affiliate/BackEnd/Gestion_client_Gestionnaire" title=""><img src="../../Areas/Affiliate/Images/icone-gestion-clients.png" alt="" /><span>Gestion des clients</span></a>
                            </li>
                            <li>
                                <a href="../../Affiliate/BackEnd/Infos_salon_Gestionnaire" title=""><img src="../../Areas/Affiliate/Images/icone-info-salon.png" alt="" /><span>Informations sur le salon</span></a>
                            </li>
                            <li>
                                <a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title=""><img src="../../Areas/Affiliate/Images/icone-gestion-produit.png" alt="" /><span>Gestion des Prestations</span></a>
                            </li>
                            <li class="end">
                                <a href="../../Affiliate/BackEnd/Gerer_galerie_Gestionnaire" title=""><img src="../../Areas/Affiliate/Images/icone-gerer-galerie.png" alt="" /><span>Gérer la galerie</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    
 