@{
    Layout = null;
}

                     

                    <li>@Html.ActionLink("Connexion", "Login", "Home", new { area = "",Id ="Logincart" }, null)</li>
                    <li><a href="../../Home/Login" class="cart"  title=""><i class="fa fa-shopping-cart"></i></a></li>
