@{
    Layout = null;
}

<li><a href="../../Beneficiary/FrontEnd/Panier" class="cart" title=""><i class="fa fa-shopping-cart"></i><span class="pink">2</span></a></li>
                    
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=""><img src="../../Areas/Beneficiary/Images/NoAvatar.png" alt="avatar" width="30" class="avatar" />&nbsp; Mr. Lorem <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../../Beneficiary/FrontEnd/Parametre" title="" data-ajax="false"><i class="fa fa-cogs"></i> Paramètres</a></li>
                            <li><a href="../../Beneficiary/FrontEnd/Historique_Reservation" title="" data-ajax="false"><i class="fa fa-history"></i> Historique</a></li>
                            <li><a href="#deconnexion" class="popup-with-zoom-anim en" title=""><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                        </ul>
                    </li>
