@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Plan";
}


<div class="row">
            <div class="col-md-12">
                <h3>Plan du site: </h3>
                <br />

                <p>
                    <a href="../../Home/Index" title="" data-ajax="false">Page d'accueil </a>
                    <br />
                    <br />
                    <a href="../../Home/Qui_sommes_nous" title="" data-ajax="false">Qui sommes-nous ?</a>
                    <br />
                    <br />
                    <a href="../../Home/FAQ" title="" data-ajax="false">FAQ</a>
                    <br />
                    <br />
                    <a href="../../Home/Contact" title="" data-ajax="false"> Contact</a>
                </p>
            </div>
        </div>
@section scripts{
    <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js"></script>
    <script type='text/javascript' src="~/Scripts/Ux/animationBody.js"></script>
    }