@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Qui sommes nous";
}

<div class="row">
            <div class="col-md-12">
                <h3>Qui sommes-nous ? </h3>
                <br />

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
                    <br />
                    <br /> Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.
                    <br />
                    <br /> Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus, cui nos obsecuturos iunxerat imperiale praeceptum, dispicere litis exitialis certamina cogebatur abnuens et reclamans, adulatorum oblatrantibus turmis, bellicosus sane milesque semper et militum ductor sed forensibus iurgiis longe discretus, qui metu sui discriminis anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret emergentes, quae clam palamve agitabantur, occultis Constantium litteris edocebat inplorans subsidia, quorum metu tumor notissimus Caesaris exhalaret.
                </p>
            </div>
        </div>

@section scripts{
    <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js"></script>
    <script type='text/javascript' src="~/Scripts/Ux/animationBody.js"></script>
    }