@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQ";
}
@section footer{}
@section NavBarClient{}
  <div class="row">
            <div class="col-md-12">
                <h3>FAQ: </h3>
                <br />

                <p>
                    <a title="" class="toggleFAQ1">Lorem ipsum dolor sit amet, consectetur adipisicing elit ? </a>
                    <br />
                    <p class="show1">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ2">do eiusmod tempor incididunt ut labore et dolore magna aliqua ?</a>
                    <br />
                    <p class="show2">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ3">Ut enim ad minim veniam, quis nostrud exercitation ullamco, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo ?</a>
                    <br />
                    <p class="show3">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ4"> Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti ?</a>
                    <br />
                    <p class="show4">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ5">do eiusmod tempor incididunt ut labore et dolore magna aliqua ?</a>
                    <br />
                    <p class="show5">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ6">Ut enim ad minim veniam, quis nostrud exercitation ullamco, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo ?</a>
                    <br />
                    <p class="show6">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
                    <br />
                    <a title="" class="toggleFAQ7"> Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti ?</a>
                    <br />
                    <p class="show7">Exsistit autem hoc loco quaedam quaestio subdifficilis, num quando amici novi, digni amicitia, veteribus sint anteponendi, ut equis vetulis teneros anteponere solemus. Indigna homine dubitatio! Non enim debent esse amicitiarum sicut aliarum rerum satietates; veterrima quaeque, ut ea vina, quae vetustatem ferunt, esse debet suavissima; verumque illud est, quod dicitur, multos modios salis simul edendos esse, ut amicitiae munus expletum sit.</p>
            </div>
        </div>

@section scripts{
    <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js"></script>
    <script type='text/javascript' src="~/Scripts/Ux/animationBody.js"></script>
    }