@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
            <div class="col-md-5">

                <h3>Les derniers salons à nous joindre : </h3>
                <br />
                <div class="row">

                    <div class="col-md-5">
                        <img alt="salon coiffure bano" src="../../Images/bano-salons-coiffure-salon.jpg" />
                    </div>
                    <div class="col-md-7">
                        <h4>Salon de coiffure 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <img alt="salon coiffure bano" src="../../Images/bano-salons-coiffure-salon.jpg" />
                    </div>
                    <div class="col-md-7">
                        <h4>Salon de coiffure 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-2 text-center separateur"><img src="../../Images/bano-salon-separateur.png" alt="salon coiffure bano" /></div>
            <div class="col-md-4">
                <h3>Colem ipsum lopilum : </h3>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>


                <br/>

                <img alt="salon coiffure bano" src="../../Images/bano-salons-coiffure-salon.jpg" width="151" height="131" />


                <span class="marge"><img  alt="salon coiffure bano" src="../../Images/bano-salons-coiffure-salon.jpg" width="151" height="131" /> </span>


            </div>
        </div>
@section footer{}
@section NavBarClient{}
@section scripts{
    <script type='text/javascript' src="https://maps.google.com/maps/api/js?sensor=true"></script>
    }