@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
@section admin{
    }
           
<div id="pcont" class="container-fluid">
            <div class="cl-mcont">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-right"><i class="fa fa-clock-o"></i></div>
                                <h4>Clients récents</h4>
                                <hr />
                                <ul>
                                    <li><img src="../../Areas/Affiliate/Images/client1.png" alt="" /> Lorem ipsum dolor consecteur </li>
                                    <li><img src="../../Areas/Affiliate/Images/client2.png" alt="" /> Lorem ipsum dolorconsecteur </li>
                                    <li><img src="../../Areas/Affiliate/Images/client3.png" alt="" /> Lorem ipsum dolor consecteur </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-right"><i class="fa fa-clock-o"></i></div>
                                <h4>Dernières changement dans la liste des prestations</h4>
                                <hr />
                                <div class="table-responsive">
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <th scope="row" class="identifiant">1</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" class="actionmoins popup-with-zoom-anim" title="">-</a><span class="clear"></span> <a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" class="actionplus" title="">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="identifiant">2</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" class="actionmoins popup-with-zoom-anim" title="">-</a> <span class="clear"></span><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" class="actionplus" title="">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="identifiant">3</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" class="actionmoins popup-with-zoom-anim" title="">-</a> <span class="clear"></span><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title="" class="actionplus">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="identifiant">4</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" title="" class="actionmoins popup-with-zoom-anim">-</a> <span class="clear"></span><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title="" class="actionplus">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="identifiant">5</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" title="" class="actionmoins popup-with-zoom-anim">-</a> <span class="clear"></span><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title="" class="actionplus">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="identifiant">6</th>
                                                <td>Lorem Ipsum dolor <span class="action"><a href="#suppression" title="" class="actionmoins popup-with-zoom-anim">-</a> <span class="clear"></span><a href="../../Affiliate/BackEnd/Gerer_produit_service_Gestionnaire" title="" class="actionplus">+</a></span>
                                                </td>
                                                <td class="horraire">11:30h 12.03.2015</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="suppression" class="mfp-hide">
                                <div class="priceing-tabel">
                                    <i class="fa fa-exclamation-circle"></i>
                                    <h5>voulez vous vraiment supprimer cette ligne ?</h5>
                                    <a class="price-button" href="#" title="">Oui</a> <a class="price-button" href="../../Affiliate/BackEnd/Accueil_Gestionnaire" title="">Non</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

